* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background: #f5f6f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
p {
  color: #666666;
}

/* header*/
.contaner {
  width: 75%;
  margin: auto;
}
@media (max-width: 1500px) {
  .contaner {
    width: 90%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

header .top-nan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .top-nan .logo img {
  width: 150px;
}

header .top-nan .search {
  width: 500px;
  border: solid 2px #fcb700;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
header .top-nan .search input {
  padding: 18px 175px 18px 20px;
  outline: none;
  border: none;
  width: 100%;
}

header .top-nan .search button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fcb700;
  border: none;
  outline: none;
  height: 100%;
  width: 170px;
  color: #222222;
  font-size: 18px;
  cursor: pointer;
}

header .top-nan .cart-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .top-nan .cart-header i {
  color: #222222;
  font-size: 20px;
  border: 1px solid #6666662a;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

header .top-nan .cart-header i:hover {
  background-color: #fcb700;
  color: #fff;
}
header .top-nan .cart-header .icon-cart {
  position: relative;
}
header .top-nan .cart-header .count-item {
  position: absolute;
  background-color: #fcb700;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: -5px;
  right: 0;
  color: #222222;
  border: solid 1px #6666662a;
}

header .top-nan .cart-header .totial-price p {
  margin-bottom: 8px;
}

header nav {
  border-top: 1px solid #6666662a;
}
header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .links ul {
  display: flex;
  gap: 70px;
}
header .links ul li a {
  color: #222222;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
header .links ul li {
  position: relative;
  padding: 20px 0;
}
header .links ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fcb700;
  transition: 0.3s ease-out;
}
header .links ul li .active::after,
header .links ul li:hover::after {
  width: 100%;
}

header .links .login_signup a {
  color: #222222;
  padding: 10px 20px;
  background-color: #fcb700;
  margin-left: 10px;
  border-radius: 5px;
}
